.main-container {
  top: 10px;
}

.array-container {
  position: absolute;
  top: 20px;
  bottom: 125px;
  width: 95vw;
}

.button-container {
  position: absolute;
  width: 95vw;
  bottom: 5px;
}

.array-bar {
  width: 2px;
  background-color: deepskyblue;
  display: inline-block;
  margin: 0 1px;
}
